*{
    font-family: 'Inter', sans-serif;
}

.sec1{
    width: 775px;
    height: 195px;
    left: 38px;
    top: 47px;
    border: 2px solid #000000;
}

.sec1 div{
    font-style: normal;
    font-size: 15px;
    color: #000000;
    margin-left: 10px;
}

.sec2{
    width: 775px;
    height: 560px;
    left: 58px;
    top: 742px;
    margin-left: 10px;
}

.sec3{
    width: 775px;
    height: 185px;
    left: 58px;
    top: 1795px;
    margin-left: 10px;
}